= render '/render/header'
.show-main
  .show-imagebox
    .show-image
      = image_tag @images[0].image,class:'image1'
    .show-image_sub
      - @images.last(7).each do |image|
        = image_tag image.image, class:'image2'
  .show-areabox
    .area-name
      = @area.name
    .area-text
      = @area.text
    %input#address{type: "textbox", value: "東京都"}/
    / buttonをクリックしたらcodeAddressを実行
    %input{onclick: "codeAddress()", type: "button", value: "Encode"}/
    #area-map
    .area-add1
      住所
    .area-add2
      = @area.address
    .area-tel1
      tel
    .area-tel2
      = @area.tel
    - @cart = Cart.new
    = form_for(@cart, url: area_areas_carts_path(@area.id),method:'POST' ) do |f|
      = f.hidden_field :area_id ,value:@area.id
      = f.hidden_field :user_id ,value:current_user.id
      = f.submit "カートに入れる",class:"cart-btn"
= render 'render/footer'