= form_for(resource, as: resource_name, url: session_path(resource_name),html:{class:'user'}) do |f|
  .back-user
    = image_tag "/sugano.png"
    .field1
      
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .field2
      = f.label :password
      %br/
      = f.password_field :password, autocomplete: "current-password"
    .actions
      = f.submit "Log in"
    = render "devise/shared/links"
