.header
  .header-top
    .header-top_text1
      - if user_signed_in?
        = link_to "L O G O U T", destroy_user_session_path, method: :delete
      - else
        = link_to "L O G I N", new_user_session_path
  .header-main
    = link_to root_path do
      .header-main_log
        = image_tag "/header-log.png"
    .header-main_content
      .content-text
        %a
          トップ　
          %a{href: "#equipmentset"}｜　用品　｜
          %a{href: "#campset"} キャンプ場　｜　ご利用ガイド
    .cart-box
      = link_to cart_show_path(current_user.id) do
        = image_tag "/cart.png"

