= render '/render/header'
.main
  = image_tag "/back-img.jpg",class:'img1'
  .main-text
    %li 日本のアウトドアに、
    %li 　新しい風を、
    %li 　　手ぶらキャンプ。
  .main-text2
    %li 　キャンプをもっと身近に
    %li 　　　　　　全てのアウトドア好きに送る、
    %li 　　　　最高の思い出を、、、
  .content1
    #equipmentset
      EquipmentSet
    .camp-set
      %figure
        = link_to item_path(@item[0])do
          = image_tag "http://blog-imgs-24.fc2.com/c/l/u/clubnature2/080609_1.jpg"
      %h3.settitle スタンダードセット  28,000円
      %p
        キャンプデイズが提案するキャンプのスタンダードな形。snowpeak社のフラッグシップモデルで取り揃えたベーシックながらも高品質なセット。誰にでも設営しやすく、初めての方でも本格的なキャンプを楽しむことができます。あとはアレンジで必要なものを自由に足して自分たちだけのスタイルを作ってください。
        -# %img.icon{alt: "おすすめ", src: "/icon_osusume.png"}/
    .camp-set
      %figure
        = link_to item_path(@item[1])do
          = image_tag "https://i1.wp.com/hight.link/wp-content/uploads/2018/07/%E3%82%AF%E3%82%A4%E3%83%83%E3%82%AF%E3%82%AD%E3%83%A3%E3%83%B3%E3%83%97-%E3%83%AF%E3%83%B3%E3%82%BF%E3%83%83%E3%83%81-%E3%82%AD%E3%83%A3%E3%83%93%E3%83%B3%E3%83%86%E3%83%B3%E3%83%88.jpg?resize=650%2C529"
      %h3.settitle スマートセット  26,000円
      %p
        なるべくシンプルにでもスタイルを求めるキャンパーにオススメなスマートセット。設営も簡単なワンポールタイプテントと立体感のあるタープの組み合わせは周りからも目を引く圧倒的スタイル。さらに必要最低限のアイテムがバッチリ揃ったオシャレなロースタイルの組み合わせ。もちろん初心者の方にもオススメなセットです。
    .camp-set
      %figure
        = link_to item_path(@item[2])do
          = image_tag "https://s3-ap-northeast-1.amazonaws.com/production.hinata.me/image/image/1014127430525820899/article_pc_tent_slode01-840x580.jpg"
      %h3.settitle グランピングセット  35,000円
      %p
        その名も定着してきた「グランピング」。ちょっと贅沢で今までのキャンプとは違ったキャンプがお楽しみいただけます。オシャレテントの代名詞となったノルディスク社製のアスガルドをセットに見た目も空間も最高レベル。お友達にも自慢できること間違い無し！ぜひ贅沢でオシャレで快適なキャンプをお楽しみください。
  .camp-content2
    .camp-set2
      %figure
        = link_to item_path(@item[3])do
          = image_tag "https://i.pinimg.com/originals/a6/22/6f/a6226f4613ef601d0a56f1ecb644bbd5.png",height:"160px"
      %h3.settitle2 スタイリッシュセット  27,000円
      %p
        ノルディスク社のコットンテントをメインにしたスタイリッシュなロースタイルをレンタルで実現しました。テントにあわせて木製のカワイイ椅子とテーブルもチョイス。鳥のさえずりを聞きながら、豆から挽いたコーヒーをたてる朝。そんな過ごし方をして欲しいセットです。
    .camp-set2
      %figure
        = link_to item_path(@item[4])do
          = image_tag "https://userdisk.webry.biglobe.ne.jp/004/886/95/N000/000/000/131573705367313102167_164a7_03.jpg",class:"image-a",size:"180×160"
      %h3.settitle2 コンフォーターブルセット  32,000円
      %p
        ノルディスク社のレイサ6をメインにしたタープなしのセットプランをご用意しました。リビングスペースを作ったり個室を増やしたりと変幻自在、様々なアレンジが可能なこのテントの過ごし方はあなた次第！お好みのスタイルにレイサ6を変身させて快適キャンプをお楽しみください。
  .content2
    #campset
      CampSite
    .camp-site
      %figure
        = link_to area_path(@area[0])do
          = image_tag "/1.jpg"
      %h3.site-title  大高取山(376m)／埼玉
      .camp-address
        JR越生駅
      .camp-tel
        = image_tag "/phone.png",class:"phone"
        %span 123-4566-7890
      %p
        とても使いやすいキャンプ場です。岩でできた椅子とテーブルもあり、水道もバーベキュー台のすぐ近くなので便利です。
    .camp-site
      %figure
        = link_to area_path(@area[1])do
          = image_tag "/2.jpg"
      %h3.site-title  宝登山(497m)／埼玉
      .camp-address
        JR長瀞駅
      .camp-tel
        = image_tag "/phone.png",class:"phone"
        %span 000-1111-2222
      %p
        キャンプ場は背の高い雑木林に囲まれていて自然に溢れ、静かで、街近のキャンプ場であることを全く感じさせません。
    .camp-site
      %figure
        = link_to area_path(@area[2])do
          = image_tag "/3.jpg"
      %h3.site-title  三峰山(1,066m)／埼玉
      .camp-address
        大輪バス停
      .camp-tel
        = image_tag "/phone.png",class:"phone"
        %span 123-4567-8900
      %p
        日本初、犬連れキャンパー必見のノーリードで過ごせるキャンプ場。愛犬家のオーナーが自分たちの手で作り上げた愛犬家の夢の詰まったオートキャンプ場です。
  .camp-title2
    .camp-site2
      %figure
        = link_to area_path(@area[3])do
          = image_tag "/4.jpg",size:"180×160"
      %h3.site-title  棒ノ折山(969m)／埼玉
      .camp-address
        さわらびの湯バス停
      .camp-tel
        = image_tag "/phone.png",class:"phone"
        %span 123-4567-8900
      %p
        筑波山のふもとにある自然豊かなキャンプ場。1万平方メートルもある広々とした芝生の広場があり、そりすべりやバドミントンサッカーなどで楽しむことが出来る。
    .camp-site2
      %figure
        = link_to area_path(@area[4])do
          = image_tag "/5.jpg",class:"image-b",size:"180×160"
      %h3.site-title  小仏城山(670m)／東京
      .camp-address
        相模湖駅
      .camp-tel
        = image_tag "/phone.png",class:"phone"
        %span 123-4567-8900
      %p.camp-p
        浅間山のふもとに広がる約3万坪の広大な敷地にあるオートキャンプ場。その広い場内にはアスレチック、トランポリン広場、瞑想用のツリーハウス、ドッグランなど数多くの施設があり、一日では遊びきれない程です。
  .content2
    #userguide
      UserGuide
    .guide-box
      .guide-title
        step1
      .guide-text1
        商品と場所を選ぶ
      .guide-text2
        %li 当サイトにて利用したい用品を閲覧の上、選択します。
        %li レンタル用品はセットプランからお選びいただけます。
      .guide-title
        step2
      .guide-text1
        カートの中に入れる
      .guide-text2
        %li 商品と登山場所は一つづつお選び下さい。
        %li お選び頂いた商品とアイテムはカートの中から確認いただけます。
      .guide-title
        step３
      .guide-text1
        購入手続き
      .guide-text2
        %li 購入商品とお客様情報をご確認の上、購入ボタンを押してください。
        %li 尚、当サービスはクレジット決済となっております。
      .guide-title
        step４
      .guide-text1
        商品受け取り
      .guide-text2
        %li お受取りは現地配送となります。用品の到着後、直ちに内容の確認をお願いたします。
        %li 万が一、内容等に不備があれば当店にご連絡ください。できる限り迅速に対応させて戴きます。
      .guide-title
        step５
      .guide-text1
        ご利用
      .guide-text2
        %li さぁ、いよいよご利用です。付属の取扱説明書をご覧になりながら設営をお願いします。
      .guide-title
        step６
      .guide-text1
        用品のご返却
      .guide-text2
        %li ご返却は配送員が参ります。
        %li レンタル用品の状態、個数等を確認の上、『返却時チェックシート』へ必要事項をご記入ください。
      .guide-title
        step7
      .guide-text1
        ご返却完了！
      .guide-text2
        %li 紛失、破損等問題なければ、返送完了となります。
= render 'render/footer'