= render '/render/header'
.show-main
  .show-imagebox
    .show-image
      = image_tag @images[0].image,class:'image1'
    .show-image_sub
      - @images.last(7).each do |image|
        = image_tag image.image,class:'image2'
  .show-itembox
    .show-name
      = @item.name
    .show-text
      = @item.text
    .show-subname
      .show-subname-text
        セット内容
        .show-subname-name
          - @images.each do |name|
            %li= name.name
    .price-box
      .price-box_1
        価格：
      .price-box_2
        = "#{@item.price}円"
        - @cart = Cart.new
        = form_for(@cart, url: item_carts_path(@item.id),method:'POST' ) do |f|
          = f.hidden_field :item_id ,value:@item.id
          = f.hidden_field :user_id ,value:current_user.id
          = f.submit "カートに入れる",class:"cart-btn"
= render 'shared/footer'